#top{
    height: 0;
}
.content > *:not(#slide-1){
    position: relative;
    z-index: 2;
}
:root{
    --scroll-progress-1: 0;
    --scroll-progress-2: 0;
    --scroll-progress-3: 0;
}
/*override: blur less as progress 3 increases*/
.content::before{
    filter: blur(calc(0.6vh * clamp(0.2,1 - 0.5 * var(--scroll-progress-2) - var(--scroll-progress-3), 1)));
}
#slide-1{
    display: grid;
    grid-template-rows: repeat(2, calc(45vh - var(--grid-size)));
    grid-template-columns: 0.4fr 1fr 1fr 0.4fr;
    grid-template-rows: 0.4fr 1fr 1fr 0.4fr;
    height: 90vh;
    width: 100%;

    opacity: calc(max(0, 1 - 1.2 * var(--scroll-progress-1)));

    position: fixed;
    z-index: 1;
}
#slide-1 .name-wrapper{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: row;
    align-items: end;
}
#slide-1 h1{
    margin-left: 10px;
}
#slide-1 p.desc{
    
    grid-area: 3/2/4/3;
    margin: 0;
    margin-left: 10px;
    max-width: 40vw;
}
#slide-1 .selfie{
    grid-area: 2/3/4/4;
    text-align: center;
    
    background: url("/img/pfp.jpg") no-repeat;
    background-size: contain;
    background-position: right center;
}

@media screen and (max-width: 600px) {
    #slide-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #slide-1 .selfie{
        height: 100px;
        flex: 1;
        width: 100%;
        background-position: center;
    }
    #slide-1 * {
        text-align: center;
        width: 100%;
        margin-bottom: 5vh;
    }
}


#slide-2{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}
#slide-2 h1{
    margin-bottom: 5vh;
    margin-top: 5vh;
    height: 5vh;
    line-height: 5vh;
    position: sticky;
}
#slide-2 .horizontal-wrapper{
    display: flex;
    flex-direction: row;
    padding: 3vw;
}
#slide-2 .horizontal-wrapper > *{
    flex: 1;
}
#slide-2 .achievement-list ul {
    list-style-type: none;
    margin: 2vw;
    margin-top: 0;
    padding: 2vw;
    border-left: 1px solid grey;
}
#slide-2 .achievement-list li{
    margin-bottom: 1em;
}
#slide-2 .achievement-list h2{
    margin: 0;
}
#slide-2 .achievement-list a{
    font-weight: 550;
}

#slide-2 .preview-content{
    position: sticky;
    top: 25vh;
    margin-bottom: 25vh;
    width: 100%;
    min-height: 200px;
    height: max-content;
    border: 1px solid black;
    background: #fff;
    border-radius: 1vh;

    /**TODO: ADD ACTUAL CONTENT!!*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #slide-2 .preview-container{
        display: none;
    }
}
@media screen and (min-width: 600px) {
    #slide-2 a::after{
        display: none;
    }
}

/* Argh pesky variable height container*/
#slide-3{
    z-index: 2;
    position: relative;
}
#slide-3 h1{
    text-align: center;
    width: max-content;
    margin: auto;
}
.projects{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects div{
    border: 1px solid #000;
    background: #fff;
    width: 30vw;
    min-width: 350px;
    display: inline-block;
    padding: 2vw;
    border-radius: 1vh;
    margin: 2vw 0;
}
.projects div h2{
    margin-top: 0;
    font-size: 1.2em;
}
#slide-3 a.seemore{
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 5vh 0;
}
@media screen and (max-width: 600px) {
    #slide-3 .projects div{
        margin: 5vh 10vw;
    }
}